*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top left, #eee, #333);
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 40vw;
    background: linear-gradient(to top right, #2171e9, #a5631d);
}


.col-4{
    width: 100%;
}

label{
    font-size: 1.2rem;
}

.btn1{
    position: relative;
    left: 35%;
}
.btn2{
    position: relative;
    left: 35%;
    margin-left: 1rem;
}

#preview img{
    width: 80%;
    margin-left: 3rem;
}

@media(max-width:990px){
    #preview img{
        margin-left: 1.5rem;
    }
}

@media(max-width:580px){
    .btn1{
        left: 15%;
    }
    .btn2{
        left: 15%;
    }
}

@media(max-width:480px){
    .container{
        width: 70vw;
    }
    .btn{
        left: 20%;
    }
}